# Godot 4+ specific ignores
.godot/
/android/
assets/announcer.mp3.import
assets/intro.png.import
assets/logo.png.import
assets/main_theme.mp3.import
assets/announcer.m4a
src/button.gd.uid
src/ball.gd.uid
authentic_tennis_main.png.import
scenes/main.tscn4430548586.tmp
src/floor_generator.gd.uid
src/floor_tile.gd.uid
src/main.gd.uid
src/death_barrier.gd.uid
scenes/main.tscn3191167989.tmp
assets/you_lose.png.import
assets/you_win.png.import
scenes/main.tscn4611303095.tmp
src/you_lose.gd.uid
src/you_win.gd.uid
