# Godot 4+ specific ignores
.godot/
/android/
assets/announcer.mp3.import
assets/intro.png.import
assets/logo.png.import
assets/main_theme.mp3.import
assets/announcer.m4a
src/button.gd.uid
src/ball.gd.uid
authentic_tennis_main.png.import
